<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <body>
        <a href="http://homeportal.pl"><img src="http://homeportal.pl/resources/img/logo_big.png"/></a>
        <hr size="1">
        <h3>Witaj $dto.name,</h3>

            Promocja oferty o numerze <b>$dto.offerId</b> wygasła. Promuj ją ponownie <a href="$dto.promoteLink">TUTAJ</a>
            <br />
            Zapraszamy do wyróżniania ofert. Zaloguj się <a href="http://homeportal.pl/zaloguj/">TUTAJ</a> i promuj swoje oferty!
            <br />
            <br />
            #if($dto.points > 0)
                <b>Posiadasz $dto.points punktów promocji!</b>
                <br />
            #end
            Doładuj konto: <a href="http://homeportal.pl/account/promotions/supplyAccount/">TUTAJ</a>
            <br />
            <br />
            <br />
            <hr size="1">
            Dziękujemy. W razie pytan prosimy o kontakt: <a href="http://homeportal.pl/kontakt/">Zespół homeportal.pl</a>
    </body>
</html>