<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">	
<body>
<a href="http://homeportal.pl"><img src="http://homeportal.pl/resources/img/logo_big.png"/></a>
<hr size="1">
<h3>Wiadomość od użytkownika: $!email $!phone</h3>

#if($offerId)
Dotyczy oferty: $offerId
#end

<h4>Treść:</h4>
$content
<br/>
<hr size="1">
Dziękujemy. W razie pytan prosimy o kontakt: <a href="http://homeportal.pl/kontakt/">Zespół homeportal.pl</a>
</body>

</html>
